.title{
 text-align: center;
 width: 454px;
 margin-left: auto;
 margin-right: auto;
 border: 2px solid rgb(149, 178, 247);
 background-color: rgb(199, 220, 241);
 font-size: 25px;
 color: rgb(83, 157, 247);
 box-shadow:  1px 1px 3px 1px #6293f3;
}
