.todo-component{
  height: 680px;
  width: 600px;
  border: 2px solid rgb(149, 178, 247);
  border-top: none;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  background-color: rgb(192, 221, 251);
  overflow: auto;
  box-shadow:  1px 1px 3px 1px #6293f3;
}
.todo-form{
  border-bottom: 2px dashed rgb(114, 148, 250);
  padding: 5px;
}
.input-todo{
  margin: 2px;
  width: 510px;
  height: 40px;
  background-color: rgba(175, 210, 250, 0.838);
  border: 2px solid rgb(157, 177, 202);
  font-size: 17px;
  color:rgb(82, 86, 98);

  &:focus{
    outline-color:rgb(102, 149, 243);
  }
}
.add-btn{
  margin-left: 5px;
  width: 45px;
  height: 43px;
  font-size: 20px;
  color:#2269f6;
  border: 2px solid rgb(157, 177, 202);
  border-radius: 5px;
  background-color: rgba(152, 197, 248, 0.894);
  cursor: pointer;

  &:active{
    border:2px solid rgb(102, 149, 243);
  }
}
.todo-lists{
  font-size: 18px;
  margin-top: 0;
}
.list-item{
  height: 35px;
  border-bottom: 1px solid rgb(114, 148, 250);
  margin: 2px;
  color:rgb(94, 140, 248);
  font-weight: bold;
}
.checkedlist-item{
  text-decoration: line-through;
  color: rgb(144, 187, 247);
  height: 35px;
  border-bottom: 1px solid rgb(114, 148, 250);
  margin: 2px;
  font-weight: bold;
}
/*.checked-list{

  & + label{
    display: inline-block;
    margin-right: 5px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    border:2px solid #449ef8;
    position: relative;
  }

  &:checked + label::after{
    content:'✔';
    font-size: 14px;
    width: 17px;
    height: 17px;
    text-align: center;
    position: absolute;
    left: 0;
    top:0;
  }
}*/

.delete-btn{
  background-color: rgb(199, 220, 241);
  border: 2px solid rgb(134, 175, 251);
  color:rgb(42, 70, 249);
  border-radius: 5px;
  margin-left: 10px;
  height: 27px;
  width: 28px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  
  &:active{
    border:1px solid rgb(102, 149, 243);
  }
}
